/* ===== Media Queries for Responsiveness ===== */
@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  nav .nav-bar .logo a {
    font-size: var(--text-size);
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--nav-color);
    z-index: 100;
    transition: all 0.4s ease;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-first-section,
  .footer-links,
  .footer-social-media,
  .footer-suggestion-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-suggestion-form {
    margin-top: 20px;
  }
}
